:root {
  --background-color: white;
  --text-color-1: #2c2c2c;
  --text-color-2: #848484;
  --highlight-color: #3D52D5;
  --highlight-color-2: #192bc2;
  --font-1: monospace;
  --font-2: Ubuntu;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-2);
  font-family: var(--font-2);
}

h1 {
  font-family: var(--font-1);
  font-size: 20pt;
  color: var(--text-color-1);
}

small {
  font-size: 10pt;
}

h5 {
  color: var(--text-color-1);
}

.text-highlight {
  color: var(--highlight-color);
}

.navbar {
  background-color: var(--background-color);
  font-family: var(--font-1);
  /*box-shadow: 0px 0px 5px 0px rgb(127, 127, 127);*/
}

.nav-link {
  color: var(--text-color-1);
  transition: letter-spacing 0.5s;
}

.nav-link:hover {
  letter-spacing: 2px;
}

.navbar button:focus {
  outline: none;
}

.banner {
  padding-top: 5%;
  padding-left: 15%;
  height: 500px;
  background-size: cover;
  box-shadow: inset 0px -10px 20px -10px rgb(36, 36, 36);
}

.banner-text {
  background-color: white;
  font-family: Cutive Mono;
  font-weight: bold;
  font-size: 50px;
}

.main-container {
  margin-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 100%;
}

.content-container {
  padding: 2%;
}

.social-icon {
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
}

.projects {
  margin: 0px;
  padding: 0px;
  min-height: 160px;
}

.project-card {
  background-color: var(--background-color);
  border: none;
}

.project-card img {
  width: 100%;
  height: 100%;
  min-height: 180px;
  object-fit: cover;
}



::selection {
  background: rgb(56, 56, 56);
  color: white;
}
