.navbar-header {
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgb(127, 127, 127);
}

.navbar-header .nav-link {
  font-family: monospace;
  color: rgb(49, 111, 255);
}

.banner {
  background-image: url("background.png");
  padding-top: 5%;
  padding-left: 15%;
  height: 500px;
  background-size: cover;
  box-shadow: inset 0px -10px 20px -10px rgb(36, 36, 36);
}

.banner-text {
  background-color: white;
  font-family: Cutive Mono;
  font-weight: bold;
  font-size: 50px;
}

.main-container {
  margin-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 100%;
  background-color: white;
}

.content-container {
  padding: 2%;
}

.content-card {
  border-radius: 0px;
  border: 0px;
  min-height: 100%;
  padding: 5% 10%;
}

.form-card {
  padding: 40px;
}

::selection {
  background: rgb(44, 44, 44);
  color: white;
}
